# Basic setup
text
network --bootproto=dhcp --device=link --activate
lang en_US.UTF-8
keyboard us
timezone Asia/Shanghai --utc

# Here's where we reference the container image to install - notice the kickstart
# has no `%packages` section!  What's being installed here is a container image.
ostreecontainer --url=oci:ghcr.io/star122013/fedora-niri-atomic:latest

firewall --disabled
services --enabled=sshd

# Root password login
rootpw root

# Create an admin user
user --name=cyrene --groups=wheel --password=cyrene

%post
mkdir -p /etc/ssh/sshd_config.d
cat > /etc/ssh/sshd_config.d/10-password-auth.conf <<'EOF'
PasswordAuthentication yes
PermitRootLogin yes
EOF
%end

reboot
